* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

/* NAVIGATION BAR */
.logo img {
  width: 170px;
  float: left;
  padding: 10px;
  margin-left: 50px;
}

.menu {
  font-size: 110%;
  letter-spacing: 3px;
  list-style: none;
  margin-right: 50px;

  /* Used Flex instead of float to stop the menu order being flipped */
  display: flex;
  justify-content: flex-end;
}

.logo,
.menu {
  line-height: 75px;
}

.menu li {
  margin-left: 30px;
}

.menu a {
  color: #a3320b;
  text-decoration: none;
  text-transform: uppercase;
}

.menu a:hover {
  color: white;
  border-bottom: 1px solid #a3320b;
  transition: 0.7s ease-out;
}

.menu a.active {
  color: grey;
  pointer-events: none;
}

/*HERO IMAGE */

.hero-image {
  width: 125%;
  height: auto;
  margin-left: 60px;
}

/* INTRO TEXT */

.intro-text {
  color: #fff;
  font-size: 150%;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 200px;
  background-color: rgba(163, 50, 11, 0.8);
  padding: 30px;
  /* height: 250px; */
  width: 350px;
}

.call-to-action {
  background-color: green;
  border-radius: 40px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  margin-left: 70px;
  text-decoration: none;
  text-transform: lowercase;
}

.call-to-action:hover {
  color: rgb(224, 74, 74);
  background-color: rgb(6, 70, 6);
  transition: 0.7s ease-out;
}

/* ABOUT ME*/

.artist_details {
  margin-top: 20px;
}

.artist {
  width: 90%;
  height: auto;
}

.bio {
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 30px;
  background-color: #a3320b;
  margin-top: 70px;
}

.col-sm {
  padding-top: 25px;
}

.col-lg .testimonial {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  padding: 20px;
  margin-top: 20px;
  margin-left: 150px;
}

.col-lg p {
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding-left: 40px;
}

/* MY WORK */
.gallery {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding-bottom: 20px;
}

.up-arrow {
  display: none;
}

/* CONTACT FORM */
.container .form-group {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.button {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  margin-right: 10px;
}

form {
  text-align: left;
  margin: 0 auto;
  color: white;
}

.colour-muted {
  color: rgb(177, 173, 173);
}

.colour-button {
  color: white;
  background-color: green;
  border: none;
}

.colour-button:hover {
  color: rgb(224, 74, 74);
  background-color: darkgreen;
}

.form-background {
  padding: 10px;
  background-color: #a3320b;
  width: 50%;
}

/* SOCIAL MEDIA ICONS */

.container .social-media {
  /* Used flex to space the icons out evenly within the container */
  display: flex;
}

i {
  color: #a3320b;
}

.social-media i:hover {
  color: #fff;
  transition: 0.5s ease-out;
}

.social-media a {
  padding: 30px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.container .copyright {
  font-size: 13px;
  color: grey;
  text-align: center;
  margin: 0;
}

/* ALL MEDIA QUERIES - USING THE NEW WAY TO WRITE MEDIA QUERY */
/* YOUTUVE TUTORIAL - KEVIN POWELL - LINK IN READ ME FILE */

/* home */
@media (320px < width < 991px) {
  .logo img {
    width: 130px;
    height: auto;
    margin-left: 120px;
    margin-top: 20px;
  }

  .menu {
    clear: left;
    margin-bottom: 20px;
    line-height: 15px;
    font-size: small;
    margin-right: 30px;
    text-align: center;
    padding-top: 10px;
  }

  .intro-text {
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 300px;
    text-align: center;
    padding-top: 50px;
  }

  .col-lg-3 .call-to-action {
    margin-left: 0;
  }
  .hero-image {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  /* About */
  .container {
    padding: 20px;
  }

  .artist {
    margin-left: 15px;
  }

  .col-lg .testimonial {
    margin-left: 100px;
  }

  .col-lg p {
    padding: 0;
  }

  /* My work */

  .gallery {
    padding: 5px;
  }

  .up-arrow {
    display: flex;
    justify-content: center;
  }

  /* Contact Page */
  .form-background {
    width: 90%;
    padding: 5px;
    margin: 20px;
  }

  .container .form-group {
    width: 95%;
  }
}
