* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

/* NAVIGATION BAR */
.logo img {
  width: 170px;
  float: left;
  padding: 10px;
  margin-left: 50px;
}

.menu {
  font-size: 110%;
  letter-spacing: 3px;
  list-style: none;
  margin-right: 50px;

  /* Used Flex instead of float to stop the menu order being flipped */
  display: flex;
  justify-content: flex-end;
}

.logo,
.menu {
  line-height: 75px;
}

.menu li {
  float: right;
  margin-left: 30px;
}

.menu a {
  color: #a3320b;
  text-decoration: none;
  text-transform: uppercase;
}

.menu a:hover {
  color: white;
  border-bottom: 1px solid #a3320b;
}

.menu a.active {
  color: grey;
  pointer-events: none;
}

/*HERO IMAGE */

.hero-image {
  width: 200%;
  height: auto;
  margin-top: 0px;
}

/* INTRO TEXT */

.intro-text {
  background-color: rgba(163, 50, 11, 0.8);
  color: #fff;
  font-size: 150%;
  font-weight: bold;
  padding: 30px;
  text-transform: uppercase;
  width: 400px;
  margin-top: 240px;
}

.call-to-action {
  background-color: green;
  border-radius: 40px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  margin-left: 70px;
  text-decoration: none;
  text-transform: lowercase;
}

.call-to-action:hover {
  color: black;
  background-color: rgb(6, 70, 6);
}

/* ABOUT ME*/

.artist_details {
  margin-top: 20px;
}

.artist {
  width: 90%;
  height: auto;
}

.bio {
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 30px;
  background-color: #a3320b;
  margin-top: 70px;
}

.col-sm {
  padding-top: 25px;
}

.col-lg .testimonial {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  padding: 20px;
  margin-top: 20px;
  margin-left: 150px;
}

.col-lg p {
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding-left: 40px;
}

/* MY WORK */
.col-sm-4 .gallery {
  width: 100%;
  height: auto;
  margin: 10px;
}

/* CONTACT FORM */
.container .form-group {
  margin: 0 auto;
  margin-top: 20px;
}

.button {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  margin-right: 10px;
}

form {
  text-align: left;
  margin: 0 auto;
  color: white;
}

.colour-muted {
  color: rgb(177, 173, 173);
}

.button {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  margin-right: 10px;
}

.colour-button {
  color: white;
  background-color: green;
  border: none;
}

.colour-button:hover {
  color: black;
  background-color: darkgreen;
}

.form-background {
  padding: 10px;
  background-color: #a3320b;
  width: 50%;
}

/* ALL MEDIA QUERIES */

/* LOGO */
@media (max-width: 943px) {
  .logo img {
    width: 130px;
    height: auto;
    margin-left: 120px;
    margin-top: 20px;
  }
}

/* NAVIGATION - MENU */
@media (max-width: 943px) {
  .menu {
    clear: left;
    margin-bottom: 20px;
    line-height: 15px;
    font-size: small;
    margin-right: 40px;
    text-align: center;
    padding-top: 10px;
  }
}

/* HERO IMAGE & TEXT */
@media (max-width: 943px) {
  .hero-image {
    width: 100%;
    height: auto;
  }

  .col-lg-3 .intro-text {
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 60px;
    width: 300px;
    text-align: center;
  }

  .col-lg-3 .call-to-action {
    margin-left: 0;
  }
}

/* ABOUT ME */

@media (width <= 943px) {
  .container {
    padding: 20px;
  }

  .artist {
    margin-left: 15px;
  }

  .col-lg .testimonial {
    margin-left: 100px;
  }

  .col-lg p {
    padding: 0;
  }
}
